/public/hot
/public/storage
/storage/*.key
/vendor
.env
/symfony-upload-s3/vendor
/symfony-upload-s3/.env
/dzone-s3-lumen-master/vendor
/dzone-s3-lumen-master/.env
/Laravel-AmazonS3-Video-master/.env
/Laravel-AmazonS3-Video-master/vendor
/learningl5-2.2/.env
/learningl5-2.2/vendor
/lumens3/.env
/lumens3/vendor